<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/styles.css" media="all">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  <title>NEW BANK</title>
</head>

<body class="bg-body-secondary">
  <div class="container text-center bg-body-tertiary rounded-3">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="40" height="32"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdfIXAZSGG_3p1pSo8fZlJ6bCJJ6Z4DAAR9EBD9-Cdskr9VQab5zd_pYs1276893JebgA&usqp=CAU">
        </img>
        <span class="fs-4">NEW BANK</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/transactions" class="nav-link">Transactions</a>
        </li>
        <li class="nav-item">
          <a href="/customerList" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About Us</a>
        </li>
      </ul>
    </header>
  </div>
</body>

</html>