<%- include('partials/header') %>

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://th.bing.com/th/id/OIP.WlUDXSME4D1KBxKlZEtVuwHaKA?pid=ImgDet&rs=1"
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        alt="guy-smiling"
      />
      <h2 class="fw-normal">"Great Bank"</h2>
      <p>
        The Customer service is efficient and fast, with resolution quick and staff friendly!
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="https://th.bing.com/th/id/OIP.WlUDXSME4D1KBxKlZEtVuwHaKA?pid=ImgDet&rs=1"
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        alt="guy-smiling"
      />
      <h2 class="fw-normal">"All My Queries Solved!"</h2>
      <p>
        All my loan related queries were solved instantly with the help of information desk!
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="https://th.bing.com/th/id/OIP.WlUDXSME4D1KBxKlZEtVuwHaKA?pid=ImgDet&rs=1"
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
        alt="guy-smiling"
      />
      <h2 class="fw-normal">"Great one-to-one services"</h2>
      <p>
        You get a personal account manager assigned to you to help with your mutual funds management
      </p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Humble Beginnings.
        <span class="text-body-secondary">We have been around for quite a while.</span>
      </h2>
      <p class="lead">
        Founded in 1988. Come become a part of this life-long journey. Invest using our services!
      </p>
    </div>
    <div class="col-md-5">
      <img src="https://th.bing.com/th/id/OIP.nk4nqjTsP9I8qs8w6_S6IwHaFN?pid=ImgDet&w=555&h=390&rs=1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        alt="">
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Our World Class Security
        <span class="text-body-secondary">Yes, It's THAT good.</span>
      </h2>
      <p class="lead">
        Very good security, Indeed. We keep your money extremely secured.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://th.bing.com/th/id/OIP.5XbsgagLyvG5K2AMN08hhwHaFj?pid=ImgDet&rs=1" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
        alt="">
    </div>
  </div>

  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>

<%- include('partials/footer') %>
