<%- include('partials/header') %>

  <div class="container my-5">
    <div class="p-5 text-center bg-body-secondary rounded-3">
      <img src="https://www.pngarts.com/files/6/Vector-Bank-PNG-Download-Image.png" class="bi mt-4 mb-3" width="200"
        height="150" alt="">
      <h1 class="text-body-emphasis">Your Brand New Bank</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Make Payments, Invest, Loan money with as low as 6% interest rate, and a lot more!
      </p>
      <div class="d-inline-flex gap-2 mb-5">
        <a href="sendMoney" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button"
          id="paymentBtn">
          Make a Payment
      </a>
        <a href="transactions"class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
          Previous Transactions
        </a>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>